/*Global styles*/
:root {
  --main-color: #090919;
  --secondary-color: #33333385;
  --background-color: #ff3838;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}
/*Start main services*/
.main {
  width: 100%;
  text-align: center;
  margin: 100px 0;
}

.main .container {
  text-align: center;
}
.main .container > h4 {
  color: var(--background-color);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
}
.main .container > h4::before {
  content: "OUR BLOG";
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #eee;
  z-index: -1;
  letter-spacing: 4px;
}
.main .container > h1 {
  font-size: 40px;
  margin: 20px 0 90px;
}

.main .container .blog-posts {
  display: flex;
  justify-content: space-between;
}
.main .container .blog-posts .item {
  width: calc(100% / 3 - 20px);
  height: fit-content;
  border-radius: 5%;
  overflow: hidden;
  text-align: left;
  border: 1px solid #ddd;
  position: relative;
}
.main .container .blog-posts .item .item-tag {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: var(--background-color);
  color: #fff;
}
.main .container .blog-posts .item img {
  width: 100%;
}
.main .container .blog-posts .item .item-content {
  padding: 20px;
}
.main .container .blog-posts .item .item-content .item-author {
  display: flex;
  column-gap: 30px;
}
.main .container .blog-posts .item .item-content .item-author i {
  margin-right: 5px;
  color: var(--background-color);
}

.main .container .blog-posts .item .item-content .item-info {
  margin-top: 20px;
}
.main .container .blog-posts .item .item-content .item-info h2 {
  color: var(--main-color);
  line-height: 1.3;
}
.main .container .blog-posts .item .item-content .item-info p {
  margin: 15px 0 15px;
  color: var(--secondary-color);
  line-height: 22px;
}
.main .container .blog-posts .item .item-content .item-info button {
  background-color: transparent;
  border: none;
  font-size: 17px;
  cursor: pointer;
  padding: 15px 0;
  color: #090919af;
  font-weight: 600;
}
.main .container .blog-posts .item .item-content .item-info button i {
  transition: transform 0.3s ease;
}

.main .container .blog-posts .item .item-content .item-info button:hover i {
  transform: translateX(10px);
}
